ase>=3.26
ase-db-backends==0.11.0
cffi>=1.16
cuequivariance==0.10.0
cuequivariance-torch==0.10.0
cuequivariance-ops-cu12==0.10.0
cuequivariance-ops-torch-cu12==0.10.0
h5py>=3.15.1
lmdb>=1.5
numpy>=1.26,<3
nvalchemi-toolkit-ops[torch]==0.4.1
opt_einsum_fx==0.1.4
PyYAML>=6
scipy>=1.11
tables>=3.11.1
torch>=2.10
torch-ema==0.3
torch-geometric==2.7.0
torch-sim-atomistic==0.6.1
tqdm>=4.67
warp-lang==1.13.0
.
